.window-form{
    .ant-modal-content{
        padding: 0px !important;
        overflow: hidden;
        height: 100%;
    }
    .ant-modal-body{
        height: 100%;
    }
}

.form-button{
    transition: 0.8s;
    margin-left:5px;
}

.form-button:active{
    transition: 0.8s;
    transform: scale(0.9);
}