.tools-application {
    padding: 10px;
    .list {
        transition: 0.8s;
        padding: 10px;
        text-align: center;
        user-select: none;
        border-radius: 5px;
    }

    .list:hover{
        transition: 0.8s;
        background-color: rgba(255, 255, 255, 0.5);
    }
    .list:active{
        transition: 0.5s;
        transform: scale(0.95);
    }
}